@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --color-noir: #000;
    --color-gris-noir: #484848;
    --color-blanc: #FFF;
    --color-background: #f1f6f1;
    --color-primary: #cc0d0d;
    --color-secondary: #0080ff;
    --color-primary-stars: #cc0d0d9a;

    --color1: 0, 128, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 204, 13, 13;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi_Complete/Satoshi-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi_Complete/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
}

i {
    font-size: .9em;
}

img,
a {
    -webkit-user-drag: none;
    font-family: 'Satoshi', sans-serif;
}

html {
    font-family: 'Satoshi', sans-serif;
}

/* ascenseur de la page */
body::-webkit-scrollbar {
    width: .6em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-stars);
}

body::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

@supports (scrollbar-color: red blue) {
    body {
        scrollbar-color: var(--color-blanc) var(--color-background);
        scrollbar-width: auto;
    }
}

body {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-background);
    /* padding-top: 90px; */
}

canvas {
    position: absolute;
    pointer-events: none;
}

header {
    width: 100vw;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 12%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    backdrop-filter: blur(15px);
}

.clear {
    backdrop-filter: none;
}

header a.title,
.header_responsive a.title {
    font-size: 1.25em;
    color: var(--color-primary);
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Space Grotesk', sans-serif;
}

header.eventHeader a.title,
.header_responsive.eventHeader a.title {
    color: var(--color-noir);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

.nav_links li a {
    position: relative;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1.15em;
    color: #031926;
    font-family: 'Space Grotesk', sans-serif;
    transition: color .3s;
}

header.eventHeader .nav_links li a {
    color: var(--color-blanc);
}

.nav_links li a:not(.contactBtn):after {
    content: "";
    position: absolute;
    background-color: var(--color-primary);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: -6px;
    transition: transform .3s;
    border-radius: 50px;
}

header.eventHeader .nav_links li a:not(.contactBtn):after {
    background-color: var(--color-gris-noir);
}

.nav_links li a:not(.contactBtn):hover:after {
    transform: scaleX(90%);
}

.nav_links li a:not(.contactBtn):hover {
    color: var(--color-primary);
}

header.eventHeader .nav_links li a:not(.contactBtn):hover {
    color: var(--color-gris-noir);
}

/* active */
.nav_links li a:not(.contactBtn).active {
    color: var(--color-primary);
    transition: none;
}

header.eventHeader .nav_links li a:not(.contactBtn).active {
    color: var(--color-gris-noir);
    transition: none;
}

.nav_links li a:not(.contactBtn).active:after {
    transition: none;
    transform: scaleX(100%);
}

header.eventHeader .nav_links li a:not(.contactBtn).active:after {
    transition: none;
    transform: scaleX(100%);
}

/* btn contact */
a.contactBtn,
button.contactBtn,
button#toggleAnimation,
.nav_links li a.contactBtn {
    font-weight: 600;
    font-size: 1.15em;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: capitalize;
    padding: 12px 24px;
    background-color: var(--color-primary);
    border: #000 2.5px solid;
    letter-spacing: -.36px;
    border-radius: inherit;
    color: var(--color-blanc);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-3px, -3px);
    transition: transform .15s ease-in-out;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

header.eventHeader .nav_links li a.contactBtn {
    background-color: var(--color-gris-noir);
}

.nav_links li a.contactBtn:hover,
button.contactBtn:hover,
a.contactBtn:hover {
    transform: translate(0, 0);
}

.btn {
    background-color: var(--color-noir);
    border-radius: 30px;
}

.nav_links li a.contactBtn i,
a.contactBtn i,
button.contactBtn i {
    margin-left: 8px;
    font-size: .9em;
    position: relative;
    top: 1.75px;
    transition: transform .15s ease-in-out;
}

.nav_links li a.contactBtn:hover i,
button.contactBtn:hover i,
a.contactBtn:hover i {
    transform: translateX(4px);
}

/* responsive header */
.header_responsive {
    width: 100vw;
    height: 90px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 10%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: none;
    z-index: 999;
    /* backdrop-filter: blur(15px); */
}

.menu_hamburger {
    position: fixed;
    top: 20px;
    right: 10%;
    font-size: 2.5em;
    color: var(--color-noir);
    display: none;
    visibility: hidden;
    cursor: pointer;
    z-index: 99999;
}

/* sections */
section#home,
section#nous,
section#events,
section#partners,
section#about,
section#contact {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* home */
section#home {
    height: 100vh;
    /* padding-top: 90px; */
}

section#home h1 {
    font-size: 3.5em;
    font-weight: 700;
    text-transform: capitalize;
    width: 28vw;
    min-width: 520px;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 70px;
    letter-spacing: -.5px;
}

section#home h1 span {
    font-size: .7em;
    font-weight: 500;
    line-height: 1;
    font-family: 'Space Grotesk', sans-serif;
    padding: 14px 20px;
    background-color: var(--color-secondary);
    border: #000 2.5px solid;
    border-radius: 50px;
    position: relative;
    white-space: nowrap;
    transform: rotate(-5deg) translateY(-10px);
    display: inline-block;
    box-shadow: 6px 6px #000;
}

section#home h1 span::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 8px;
    width: 135px;
    height: 20px;
    padding: 14px 20px;
    background: none;
    border: #000 2.5px solid;
    border-radius: 50px;
}

section#home h2 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.18px;
    margin-top: 10px;
}

section#home .btn {
    margin-top: 45px;
}

section#home #toggleAnimation {
    position: fixed;
    right: 10px;
    bottom: 10px;
    transform: translate(0, 0);
}

/* animation site btn */
.toggle_animation_site {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

.toggle_animation_site i {
    font-size: 14px;
}

.toggle_animation_site .checkbox {
    display: none;
}

.toggle_animation_site .label {
    height: 34px;
    width: 67px;
    background: none;
    backdrop-filter: blur(6000px);
    padding-inline: 8px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(1.2);
    border: 2px solid #767676;
}

.toggle_animation_site .label .ball {
    background: #767676;
    border-radius: 50px;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 2px;
    left: 3px;
    transform: translateX(0px);
    transition: transform 0.4s cubic-bezier(.45, -1.12, .35, 1.78);
    box-shadow: 2px 1px 1px #767676;
}

.toggle_animation_site .checkbox:checked+.label .ball {
    transform: translateX(29px);
}

.toggle_animation_site .fa-moon i,
.toggle_animation_site .fa-sun i {
    color: var(--color-noir);
}

/* nous */
section#nous {
    background-color: var(--color-background);
    position: relative;
    height: 65vh;
}

section#nous .nous {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d2f6e0;
    padding: 56px 48px;
    border-radius: 30px;
    border: #000 2.5px solid;
    box-shadow: 6px 6px #000;
    margin-block: 160px;
    max-width: 730px;
    position: relative;
}

section#nous h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 47px;
    letter-spacing: -.72px;
    margin-bottom: 24px;
    color: #031926;
}

section#nous p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 28.8px;
    letter-spacing: -.2px;
    color: #1c303c;
}

section#nous .star {
    position: absolute;
    top: -31px;
    left: -50px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--color-noir);
    width: 100px;
    height: 100px;
    z-index: 1;
}

section#nous .star::before,
section#nous .star2::before {
    content: "";
    position: absolute;
    left: 6.5px;
    top: 6.5px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--color-blanc);
    width: 87px;
    height: 87px;
    z-index: 2;
}

section#nous .star::after,
section#nous .star2::after {
    content: "";
    position: absolute;
    left: 6.5px;
    top: 6.5px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--color-primary-stars);
    width: 87px;
    height: 87px;
    z-index: 3;
}

section#nous .star2 {
    position: absolute;
    top: -25px;
    right: -25px;
    clip-path: circle(50% at 50% 50%);
    background-color: var(--color-noir);
    width: 70px;
    height: 70px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-self: center;
}

section#nous .star2 i {
    color: var(--color-noir);
    z-index: 9;
    position: absolute;
    left: 15px;
    top: 18.5px;
    font-size: 2em;
}

section#nous .star2::before {
    left: 3px;
    top: 3px;
    clip-path: circle(50% at 50% 50%);
    width: 64px;
    height: 64px;
}

section#nous .star2::after {
    left: 3px;
    top: 3px;
    clip-path: circle(50% at 50% 50%);
    background-color: var(--color-secondary);
    width: 64px;
    height: 64px;
}

.textes {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    white-space: initial;
    font-size: 72px;
    line-height: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: transparent;
    /* Couleur du texte */
    -webkit-text-stroke: 2.3px var(--color-gris-noir);
    opacity: .25;
    overflow: hidden;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* events */
section#events {
    height: 100vh;
    background-color: var(--color-primary-stars);
}

section#events .events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#events h1,
section#partners h1,
section#about h1,
section#contact h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 47px;
    letter-spacing: -.7px;
    color: var(--color-blanc);
    text-align: center;
    margin-bottom: 80px;
}

section#events .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    justify-items: center;
    align-items: center;
}

section#events .grid .card {
    width: 20vw;
    min-width: 350px;
    height: 100%;
    padding: 32px;
    background: var(--color-blanc);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: #000 2.5px solid;
    box-shadow: 6px 6px #000;
    animation: fadeIn 1s .1s forwards;
    opacity: 0;
}

section#events .grid .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    border: #000 2.5px solid;
}

section#events .grid .card h2 {
    font-size: 1.8em;
    margin-block: 20px 15px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 30px;
    letter-spacing: -.48px;
    color: #0f0f0f;
}

section#events .grid .card p {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: -.48px;
    color: #0f0f0f;
}

/* partners */
section#partners {
    padding-block: 100px;
    background-color: var(--color-background);
}

section#partners .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#partners h1 {
    color: #031926;
}

section#partners .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    justify-items: center;
    align-items: start;
}

section#partners .grid .card {
    width: 23vw;
    min-width: 350px;
    /* height: 55.5vh; */
    padding: 24px;
    background: var(--color-blanc);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    border: #000 2.5px solid;
}

section#partners .grid .card:nth-child(1) {
    background: #dac3ff;
}

section#partners .grid .card:nth-child(2) {
    background: #dcf7e7;
}

section#partners .grid .card:nth-child(3) {
    background: #ffa352;
}

section#partners .grid .card:nth-child(4) {
    background: #F2F3AE;
}

section#partners .grid .card:nth-child(5) {
    background: #7bd389;
}

section#partners .grid .card:nth-child(6) {
    background: #8FBFE0;
}

section#partners .grid .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
    border: #000 2.5px solid;
}

section#partners .grid .card h2 {
    font-size: 1.6em;
    margin-block: 15px 10px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 30px;
    letter-spacing: -.48px;
    color: #0f0f0f;
}

section#partners .grid .card p {
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: -.48px;
    color: #0f0f0f;
}

section#partners .grid .card .btn {
    margin-top: 24px;
}

section#partners .grid .card a.contactBtn {
    font-weight: 600;
    font-size: 1.15em;
    padding: 7px 15px;
    border: #000 2px solid;
    letter-spacing: -.36px;
    text-transform: none;
    background-color: var(--color-blanc);
    color: var(--color-noir);
}

/* about */
section#about {
    /* padding-block: 150px; */
    background-color: var(--color-background);
    height: 100vh;
}

section#about .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#about h1 {
    color: var(--color-noir);
    font-size: 36px;
    text-transform: none;
    line-height: 62px;
    letter-spacing: -1px;
    margin-bottom: 0;
}

section#about h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -.5px;
    color: var(--color-gris-noir);
    margin-block: 16px 100px;
}

section#about .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
}

section#about p {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -.2px;
    color: var(--color-noir);
    width: 100%;
    margin-right: 5%;
}

section#about img {
    width: 32vw;
    object-fit: cover;
    border-radius: 30px;
    border: #000 2.5px solid;
    box-shadow: 6px 6px #000;
}

/* contact */
section#contact {
    height: 100vh;
    background-color: var(--color-primary-stars);
}

section#contact .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section#contact .rowContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    /* border: white solid; */
}

section#contact .columnContact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10%;
}

section#contact .columnContact iframe {
    width: 30vw;
    height: 35vh;
    max-width: 600px;
    border-radius: 30px;
}

section#contact .columnContact2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: var(--color-blanc);
    border-radius: 30px;
    padding: 15px 20px;
    border: #000 2.5px solid;
    margin-bottom: 30px;
}

section#contact .columnContact2 h2 {
    font-size: 1.5em;
    margin-block: 0 5px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 30px;
    letter-spacing: -.48px;
    color: #0f0f0f;
    color: var(--color-secondary);
}

section#contact .columnContact2 p {
    font-size: 1.15em;
    font-weight: 500;
    letter-spacing: -.48px;
    color: #0f0f0f;
}

section#contact .columnContact2 p:nth-child(2) {
    font-weight: 900;
}

section#contact .contacts .formulaire {
    width: 35%;
    min-width: 500px;
}

section#contact .contacts .formulaire form .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
}

section#contact .contacts .formulaire form .row.second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 40px 0;
}

section#contact .contacts .formulaire form .column {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

section#contact .contacts .formulaire form label {
    color: var(--color-noir);
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1;
}

section#contact .contacts .formulaire form input,
section#contact .contacts .formulaire form textarea {
    background: var(--color-blanc);
    outline: none;
    border: none;
    width: 100%;
    padding: 16px 24px;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-noir);
    min-width: 230px;
    border-radius: 15px;
    border: #000 2.5px solid;
    box-shadow: 4px 4px #000;
}

section#contact .contacts .formulaire form input:focus,
section#contact .contacts .formulaire form textarea:focus {
    border: 2px solid var(--color-secondary);
}

section#contact .contacts .formulaire form textarea {
    min-height: 300px;
    min-width: 485px;
}

section#contact .contacts .formulaire form .column:nth-child(1) {
    margin-right: 25px;
}

section#contact .contacts .formulaire form .contactBtn {
    text-transform: none;
}

/* home bubbles */
.text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    color: var(--color-noir);
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2)); */
    background: var(--color-blanc);
    top: 0;
    left: 0;
}

.gradient-bg svg {
    display: none;
}


.gradients-container {
    filter: url(#goo) blur(10px);
    /* filter: url(#goo) blur(40px); */
    width: 100%;
    height: 100%;
}

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
}

.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
}

.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
}

.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
}

.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
}

.interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
}

.no-animation {
    animation: none !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* responsive */
@media (max-height: 1000px) {

    section#events,
    section#contact {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
        align-items: start;
    }
}

@media (max-width: 1300px) {
    header {
        padding: 1.5% 5%;
    }

    section#home h1 {
        font-size: 2.7em;
        min-width: 400px;
        line-height: 60px;
    }

    section#home h1 span {
        font-size: .65em;
        padding: 10px 18px;
    }

    section#home h1 span::before {
        left: 5px;
        top: 5px;
        width: 94px;
        height: 14px;
        padding: 10px 18px;
    }

    section#home h2 {
        font-size: 1.35em;
        line-height: 25px;
        margin-top: 10px;
    }

    section#home .btn {
        margin-top: 40px;
    }

    section#events .grid,
    section#partners .grid {
        grid-gap: 2vw;
    }
}

@media (max-width: 1150px) {

    section#events h1,
    section#partners h1 {
        margin-bottom: 40px;
    }

    section#events .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        margin-bottom: 40px;
    }

    section#events .grid .card {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    section#events .grid .card img {
        width: 25vw;
        height: 200px;
    }

    section#events .grid .card h2 {
        margin: 0 25px;
        white-space: nowrap;
    }

    section#partners {
        padding-bottom: 50px;
    }

    section#partners .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}

@media (max-width: 1090px) {
    header {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--color-blanc);
        width: 100%;
        height: 100vh;
        margin-left: 100%;
        padding-block: 70px 0;
        transition: margin .35s ease-out;
        z-index: 99999;
        overflow-y: auto;
    }

    .menu_hamburger_active {
        /* menu hamburger visibilité */
        margin-left: 0;
    }

    .menu_hamburger {
        display: block;
        visibility: visible;
    }

    .progress-container {
        top: 0;
    }

    .header_responsive {
        display: flex;
        max-width: 100vw;
        overflow: hidden;
    }

    header a.title {
        font-size: 1.3em;
        margin-bottom: 50px;
        text-align: center;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
    }

    .nav_links li {
        margin-block: 15px;
    }

    .nav_links li a {
        padding: 0 10px;
    }

    header.eventHeader .nav_links li a {
        color: #031926;
    }

    header.eventHeader .nav_links li a:not(.contactBtn):after {
        background-color: var(--color-primary);
    }

    header.eventHeader .nav_links li a:not(.contactBtn):hover {
        color: var(--color-primary);
    }

    header.eventHeader .nav_links li a:not(.contactBtn).active {
        color: var(--color-primary);
    }

    header.eventHeader .nav_links li a.contactBtn {
        background-color: var(--color-primary);
        color: var(--color-blanc);
    }

    section#events .grid .card img {
        width: 200px;
        height: 150px;
    }

    section#events .grid .card h2 {
        margin: 0 20px;
        white-space: initial;
        font-size: 1.35em;
        min-width: 100px;
    }

    section#events .grid .card p {
        font-size: .95em;
    }

    section#events h1,
    section#partners h1,
    section#about h1,
    section#contact h1 {
        font-size: 1.8em;
        line-height: 30px;
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    section#partners .grid .card {
        width: 20vw;
        min-width: 280px;
    }

    section#partners .grid .card img {
        width: 100%;
        height: 180px;
    }

    section#partners .grid .card h2 {
        margin-block: 12px 7px;
    }
}

@media (max-width: 700px) {
    section#home h1 {
        font-size: 2.1em;
        min-width: 310px;
        line-height: 55px;
    }

    section#home h1 span {
        padding: 8px 15px;
    }

    section#home h1 span::before {
        font-size: .55em;
        left: 4px;
        top: 4px;
        width: 73px;
        height: 10px;
        padding: 8px 15px;
        border: #000 2px solid;
    }

    section#home h2 {
        font-size: 1.2em;
        line-height: 20px;
        margin-top: 8px;
    }

    section#home .btn {
        margin-top: 30px;
    }

    section#home a.contactBtn {
        font-size: 1.05em;
        padding: 10px 20px;
    }

    section#events .grid {
        grid-gap: 30px;
    }

    section#events .grid .card,
    section#partners .grid .card {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    section#events .grid .card img {
        width: 200px;
        height: 150px;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    section#events .grid .card h2 {
        margin: 0;
        font-size: 1.4em;
        min-width: none;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: center;
        line-height: 1.1;
    }

    section#events .grid .card p {
        font-size: .95em;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    section#partners {
        padding-bottom: 0px;
    }

    section#partners .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-bottom: 30px;
    }

    section#partners .grid .card {
        width: 90%;
    }

    section#partners .grid .card img {
        width: 100%;
        height: 135px;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    section#partners .grid .card h2 {
        font-size: 1.4em;
        min-width: none;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: center;
        line-height: 1.1;
    }

    section#partners .grid .card p {
        font-size: .95em;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    section#partners .grid .card .btn {
        margin: 0;
        grid-column-start: 1;
        grid-column-end: span 2;
        margin-inline: auto;
        width: 170px;
    }

    section#partners .grid .card a.contactBtn {
        font-size: .95em;

    }
}

@media (max-width: 450px) {
    section#home h1 {
        font-size: 1.8em;
        min-width: 265px;
        line-height: 45px;
    }

    section#home h1 span::before {
        font-size: .5em;
        width: 60px;
        height: 8px;
    }

    section#home h2 {
        font-size: .95em;
        line-height: 15px;
        margin-top: 5px;
    }

    section#home .btn {
        margin-top: 25px;
    }

    section#home a.contactBtn {
        font-size: 1em;
        padding: 8px 16px;
    }

    section#events .grid,
    section#partners .grid {
        max-width: 100vw;
    }

    section#events .grid .card,
    section#partners .grid .card {
        padding: 15px;
        min-width: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#events .grid .card img {
        width: 200px;
        height: 130px;
    }

    section#events .grid .card h2,
    section#partners .grid .card h2 {
        font-size: 1.43em;
        line-height: 1;
    }

    section#events .grid .card p,
    section#partners .grid .card p {
        font-size: .95em;
        line-height: 1.15;
        min-width: 0;
        width: 100%;
    }

    section#partners .grid .card {
        grid-gap: 15px;
    }

    section#partners .grid .card h2 {
        margin-block: 0;
    }

    section#events,
    section#partners,
    section#about,
    section#contact {
        padding-top: 90px;
    }

    section#events h1,
    section#partners h1,
    section#about h1,
    section#contact h1 {
        font-size: 1.7em;
        max-width: 80%;
        margin-bottom: 30px;
    }

    /* shadows */
    section#home h1 span,
    section#nous .nous,
    section#events .grid .card,
    section#about img {
        box-shadow: 4px 4px #000;
    }

    a.contactBtn,
    button.contactBtn,
    button#toggleAnimation,
    .nav_links li a.contactBtn {
        transform: translate(-2px, -2px);
    }
}